<p>
login works!
</p>




<div class="login-page">
  <div class="form">
    <!-- <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form"(submit)="enter()" >

      <input type="text" placeholder="username" [(ngModel)]="model.userName"  [ngModelOptions]="{standalone: true}" required/>
      
      <input type="password" placeholder="Password" [(ngModel)]="model.userPassword" [ngModelOptions]="{standalone: true}" required/>

      <button >login</button>
      <br>
      <div>
      <button type="button" (click)="register()"><h4>Create an account</h4></button>
      </div>
      

    </form>
  </div>
</div>