<p>
home works!
</p>

 <!-- <nav class="navbar navbar-dark bg-primary">
	<a class="navbar-brand" href="#">
		LMS
	</a>
	<a [routerLink]="'/resources'" routerLinkActive="active" class="link" href="#">Resources
		<span class="sr-only">(current)</span></a>
	<!-- <a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item2
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item3
		<span class="sr-only">(current)</span></a>
	<a [routerLink]="'/register'" routerLinkActive="active" class="link" href="#">Item4
		<span class="sr-only">(current)</span></a> -->


	<!-- <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>

	<button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav> --> 


  
  
<div align="center">
	<h4>Welcome  upgrade yourself!!!</h4>
</div>
<div *ngFor="let user of users ">
	<div class="row">
		<div class="col-4" *ngFor="let resource of user.resources ">
			<div class="card" style="width: 18rem; ">
 <img class="card-img-top" src="{{resource.resImg}}" alt="Card image cap" >
 <!-- <div class="card-img-overlay card-inverse"> 
                <h3 class="card-img-text">{{resource.resName}}</h3> 
            </div>   -->
				 <div class="card-body">
					<h5 class="card-title">{{resource.resTech}}</h5>
					<h6 class="card-title">{{resource.resName}}</h6>
					<a href="#" class="btn btn-primary">{{resource.resType}}</a>
					<br>
					<br>
					<a href="#" class="btn btn-primary">{{resource.resUrl}}</a>
				</div>
			</div>

		</div>
	</div> 